.table {
  width: 300px;
  margin: 0 auto;
  border: 1px solid black;
  border-collapse: collapse;
  background-color: aquamarine;
}
thead th:nth-child(1) {
  width: 36%;
}

thead th:nth-child(2) {
  width: 32%;
}

thead th:nth-child(3) {
  width: 32%;
}

th,
td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}
